<html ng-app="myApp">
<head>
  <meta charset="utf8">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/index.css">
  <title>myTitle</title>
</head>
<body ng-controller="CcdAuthController">
  <div class="container">
    <div id="session" class="pull-right">
      <span ng-show="user">
        {{user.email}} | <a ng-click="logout()">Logout</a>
      </span>
      <span ng-hide="user"><a ng-click="login()">Login</a></span>
    </div>
  </div>

  <div class="container" ng-controller="MyMainController">

  </div>

  <script src="/bower_components/lodash/dist/lodash.min.js"></script>
  <script src='/bower_components/firebase/firebase.js'></script>
  <script src='/bower_components/firebase-simple-login/firebase-simple-login.js'></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/dist/angularfire.min.js"></script>

  <script src="scripts/my_app.js"></script>
  <script src="scripts/controllers/ccd_auth_controller.js"></script>
  <script src="scripts/controllers/my_main_controller.js"></script>
</body>
</html>
